<div class="jumbotron center">
	<h1>맛있서  Mashiso </h1>
	<h3>Delicious Korean Recipes</h3>
	
	<%= link_to "Sign up now!", "", class: "btn btn-lg btn-success"%>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="mid-row">View Recipes as guest user</h3>
		<h4 class="left">Browse and view recipes as a guest and sign up later</h4>
		<p><%= link_to "Browse recipe listings", recipes_path, class:"btn btn-md btn-warning"%></p>
	</div>
	<div class="col-lg-4">
		<h3 class="mid-row">View Recipes as guest user</h3>
		<h4 class="left">Browse and view recipes as a guest and sign up later</h4>
		<p><%= link_to "Browse recipe listings", "", class:"btn btn-md btn-warning"%></p>
	</div>
	<div class="col-lg-4">
		<h3 class="mid-row">View Recipes as guest user</h3>
		<h4 class="left">Browse and view recipes as a guest and sign up later</h4>
		<p><%= link_to "Browse recipe listings", "", class:"btn btn-md btn-warning"%></p>
	</div>
</div>