<header class="navbar navbar-default nav-bar-fixed-top">
	<div class="container">
		<%= link_to "Mashiso", "/path", id:"logo" %>
		<div class="nav_item">
			<%= link_to "link", "/path"%>
		</div>
		<div class="nav_item">
			<%= link_to "link", "/path"%>
		</div>
		<div class="nav_item">
			<%= link_to "link", "/path"%>
		</div>
	</div>
</header>